/* Project typography definition */
@font-face {
  font-family: 'Outfit';
  src: url(../fonts/Outfit-VariableFont_wght.ttf) format('truetype');
}

/* CSS custom reset */
h1,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

/* Style variables definition */
:root {
  /* Color system definition */
  --bg-main: #0d1a2d;
  --bg-card: #15273f;
  --em-title: #e5f3ff;
  --bd-text: #6f84a2;
  --em-main: #00fff8;

  /* Typography system definition */
  --main-font: Outfit, Verdana, Arial, sans-serif;
}

body {
  background: var(--bg-main);
  font-family: var(--main-font);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.main-content-container {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 327px;
  /* height: 544px; */
  padding: 24px 0px;
  border-radius: 15px;
  margin-top: auto;
}

.subcontent-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
}

.cube-img {
  max-width: 280px;
  height: 280px;
  border-radius: 10px;
}

.price-content-cell {
  display: flex;
  justify-content: space-between;
}

.price-subcell {
  display: flex;
  gap: 7px;
  align-items: center;
}

.ico-img {
  height: 15px;
}

/* Text style definitions */
.main-title {
  color: var(--em-title);
  font-size: 1.225rem;
  font-variation-settings: "wght" 300;
}

.body-text {
  color: var(--bd-text);
  font-size: 1rem;
  font-variation-settings: "wght" 450;
}

.price-text {
  color: var(--em-main);
  font-variation-settings: "wght" 550;
}

.creation-text {
  color: var(--bd-text);
  font-size: 0.85rem;
  font-variation-settings: "wght" 550;
}

.creator-lnk {
  text-decoration: none;
  color: var(--em-title);
  font-variation-settings: "wght" 400;
}

/* Footer style */
.footer {
  margin-top: auto;
}

.attribution {
  color: var(--em-title);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--bd-text);
  font-variation-settings: "wght" 700;
}
